certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.2.1
idna==2.10
peewee==3.14.1
pycparser==2.20
PyMySQL==1.0.0
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
urllib3==1.26.3
psycopg2==2.7.7
